 <script>
    var chart = document.querySelector('#chartpie')
    var options = {
        name: 'Regraded Grading Abstract for the year 2023',
        series: [21,160,106,376,448,175,89,60,104,129,298,186,119,7,376,338,67,144,38,52,435,12,126,127,95,187,136,73,549,203,94,],
        chart: {
            height: 350,
            type: 'donut',
        },
        plotOptions: {
            radialBar: {
                dataLabels: {
                    name: {
                        fontSize: '22px',
                    },
                    value: {
                        fontSize: '16px',
                    },
                    total: {
                        show: true,
                        label: 'Session',
                        formatter: function(w) {
                            // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                            return ""
                        }
                    }
                }
            }
        },
        labels: ['Andaman and Nicobar', 'Andhra pradesh', 'Arunachal Pradesh', 'Assam','Bihar','Chattisgarh','Gujrat','Haryana','Himachal Pradesh','Jammu and Kashmir','Jharkhand','Karnataka','Kerala','Ladakh','Madhya Pradesh','Maharashtra','Manipur','Meghalaya','Mizoram','Nagaland','Odisha','Puducherry','Punjab','Rajasthan','Sikkim','Tamil Nadu','Telangana','Tripura','Uttar Pradesh','Uttarakhand','West Bengal'],
    };
    var chart = new ApexCharts(chart, options);
    chart.render();
</script>
<script>
    var chartElement = document.querySelector('#chartline'); // Adjust the selector if needed

    var options = {
        name: 'Regraded Grading Abstract for the year 2023',
        series: [12, 11, 12, 12, 4, 5, 8, 7, 7, 18, 11, 4, 19, 7, 6, 17, 9, 7, 9, 2],
        chart: {
            height: 350,
            type: 'pie',
            title:'Regraded Grading Abstract for the year 2023 in Tamil Nadu'
        },
        plotOptions: {
            radialBar: {
                dataLabels: {
                    name: {
                        fontSize: '22px',
                    },
                    value: {
                        fontSize: '16px',
                    },
                    total: {
                        show: true,
                        label: 'Session',
                        
                        formatter: function (w) {
                            // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                            return "";
                        }
                    }
                }
            }
        },
        labels: ['Cuddalore', 'Dharmapuri', 'Erode', 'Krishnagiri', 'Nagapattinam', 'Namakkal', 'Perambalur', 'Pudukkottai', 'Ramanathapuram', 'Salem', 'Sivagangai', 'Thanjavur', 'Tiruchirappalli', 'Tirunelveli', 'Tiruvallur', 'Tiruvannamalai', 'Tiruvarur', 'Tuticorin', 'Vellore', 'Virudhunagar'],
    };

    var chart = new ApexCharts(chartElement, options);
    chart.render();
</script>

 